body {
    position: relative;
}

#home {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #000;
}

#about {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #1e88e5;
}

#flexAbout {
    display: flex;
    position: relative;
    margin-left: 20px;
}

#flexLevels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.level {
    margin-top: 10px;
    width: 400px;
    background-color: grey;
    position: relative;
    margin-left: 50px;
}

.levelTitle {
    position: absolute;
    right: 100%;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.myLevel {
    width: 1%;
    height: 30px;
    background-color: green;
}

#work {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #673ab7;
}

#image1 {
    display: inline-block;
}

#contact {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #ff9800;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contactMe {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#footer {
    padding-top: 50px;
    height: 100px;
    color: #fff;
    background-color: #000;
}
